* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url('../img/rainbow_stars2.gif');
  text-align: center;
  color: lime;
  font-family: serif;
  font-size: 300%;
  line-height: 1.1;
}

[data-slide] {
  background: rgba(53, 15, 36, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 2.5em;
  &.img {
    background-color: transparent !important;
    color: white;
  }
  &.alt {
    background-color: #000497;
  }
}

a {
  color: lime;
  text-decoration: none;
  border-bottom: 2px solid lime;
}

a:hover {
  background: white;
}

h1, h2, h3 {
  font-family: Comic Sans;
  position: relative;
  z-index: 100;
  max-width: 100%;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-family: serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.8em;
}

h2 em {
  font-style: normal;
}

code, pre {
  font-family: monospace;
  padding: 0.2em;
}

pre {
  padding: 0.2em 0.5em;
  margin-bottom: 0;
}

code {
  border: 1px solid magenta;
  text-align: left;
  display: inline-block;
}

.credit {
  position: absolute;
  width: 100%;
  bottom: 12%;
  left: 0;
  .url {
    font-style: italic;
  }
  .light & p {
    position: relative;
    z-index: 100;
  }
}

.code {
  position: absolute;
  bottom: 12%;
  left: 0;
  width: 100%;
  font-size: 160%;
}
